
/* Master Rules */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "OS";
    src: url("./font/Open_Sans/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "OSHeading";
    src: url("./font/Open_Sans/OpenSans-Bold.ttf");
    font-weight: 700;
}
body {
    font-family: "OS", sans-serif;
    min-width: 590px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "OSHeading", sans-serif;
}

/* Header / Nav Bar Rules */

.nav-cont {
    display: grid;
    grid-template: 1fr / 20px 400px 1fr 150px 20px;
    height: 100px;
    background-color: goldenrod;
}
.name-box {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: auto;
    margin-bottom: auto;
}
.contact-button {
    grid-area: 1 / 4 / 2 / 5;
}
.contact-button button {
    width: 100%;
    height: 100%;
    background-color: goldenrod;
    border: none;
    font-size: 25px;
}
.contact-button button:hover {
    background-color: darkgoldenrod;
}
h1 {
    font-size: 50px;
}
.contact-button a {
    color: black;
    text-decoration: none;
}

/* About Section Rules */

.about-cont {
    display: grid;
    grid-template: 1fr 75px 400px 1fr / 1fr 600px 1fr;
}
.about-cont img {
    width: 100%;
    height: auto;
    min-width: 600px;
    grid-area: 1 / 1 / 5 / 4;
    z-index: -1;
}
.tab-cont {
    grid-area: 2 / 2 / 3 / 3;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template: 1fr / repeat(3, 200px);
}
.info-box {
    grid-area: 3 / 2 / 3 / 3;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
}
.a, .b, .c {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    padding-top: 25px;
}
.a:hover, .b:hover, .c:hover {
    color: rgba(255, 255, 255, 1);
}
.a {
    grid-area: 1 / 1 / 2 / 2;
}
.b {
    grid-area: 1 / 2 / 2 / 3;
}
.c {
    grid-area: 1 / 3 / 2 / 4;
}
#about-me p, #projects p, #skills p{
    color: white;
    position: absolute;
}
#about-me p {
    visibility: visible;
}
#projects p {
    visibility: hidden;
}
#skills p {
    visibility: hidden;
}